<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tables - SB Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>

<body>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div id="progress">
                    <img style="width:100%" src="img/progress.gif"/>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SB Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li><a th:href="@{/home}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a th:href="@{/managetokens}"><i class="fa fa-bar-chart-o"></i> Tokens </a></li>
                <li><a th:href="@{/managedroplets}"><i class="fa fa-bar-chart-o"></i> Droplets </a></li>
                <li class="active"><a th:href="@{/exports}"><i class="fa fa-table"></i> Export</a></li>

            </ul>

            <form id="logoutForm" th:action="@{/logout}" method="post">
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown">
                        <a class="dropdown-toggle" href="#" onclick="document.getElementById('logoutForm').submit();">
                            <i class="fa fa-sign-out">
                            </i> Logout
                        </a>
                    </li>
                </ul>
            </form>
        </div><!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="table-responsive">
            <table id="table1" class="table table-hover table-striped tablesorter">
                <thead>
                <tr>
                    <th>Tag <i class="fa fa-sort"></i></th>
                    <th>Export <i class="fa fa-sort"></i></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>

<!-- Page Specific Plugins -->
<script src="js/tablesorter/jquery.tablesorter.js"></script>
<script src="js/tablesorter/tables.js"></script>

<script>
    $.getJSON("http://165.227.141.63:8080/instagram/status", function (json) {
        json.forEach(function (p1) {
            $("#table1").find('tbody').append("<tr><td>" + p1.tags + "</td><td> <button type='button' class='btn btn-success' id='" + p1.id + "' onclick='exportTag(this)'>Export</button></td><td> <button type='button' class='btn btn-success' id='" + p1.id + "' onclick='exportTagWithEmailsOnly(this)'>Export With Emails Only</button></td><td> <button type='button' class='btn btn-danger' id='" + p1.id + "' onclick='removeTag(this)'>Delete from DB</button></td></tr>");
        });
    })
</script>
<script>
    var exportTag = function (element) {
        $.get("http://165.227.141.63:8080/instagram/export/" + element.id, function (json) {
            alert(json)
        })
    };
    var exportTagWithEmailsOnly = function (element) {
        $.get("http://165.227.141.63:8080/instagram/exportemailsonly/" + element.id, function (json) {
            alert(json)
        })
    };
    var removeTag = function (element) {
            $("#myModal").modal();
        $.get("http://165.227.141.63:8080/instagram/remove/" + element.id, function (json) {
            location.reload();
        })
    }
</script>
</body>
</html>