<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard - SB Admin</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Add custom CSS here -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
</head>

<body>

<div id="wrapper">

    <th:block th:if="${isexist}">
        <script>
            alert("Ops, sorry this tag is already used!")
        </script>
    </th:block>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SB Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active"><a th:href="@{/home}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a th:href="@{/managetokens}"><i class="fa fa-bar-chart-o"></i> Tokens </a></li>
                <li><a th:href="@{/managedroplets}"><i class="fa fa-bar-chart-o"></i> Droplets </a></li>
                <li><a th:href="@{/exports}"><i class="fa fa-table"></i> Export</a></li>

            </ul>
            <form id="logoutForm" th:action="@{/logout}" method="post">
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown">
                        <a class="dropdown-toggle" href="#" onclick="document.getElementById('logoutForm').submit();">
                            <i class="fa fa-sign-out">
                            </i> Logout
                        </a>
                    </li>
                </ul>
            </form>

        </div><!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1>Dashboard
                    <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
                </ol>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-lg-6">

                <form role="form" th:action="@{/instagram/scrape}" method="post">
                    <div class="form-group">
                        <label>Add tag for scraping</label>
                        <input name="tag" class="form-control" placeholder="Enter tag here without '#'">
                    </div>
                    <button type="submit" class="btn btn-default">Add tag</button>
                    <br>
                </form>
            </div>
        </div><!-- /#page-wrapper -->


        <div class="row">
            <div style="width: 100%; height: 100%;">
                <canvas id="chart2" style="width: 100%; height: auto;"></canvas>
            </div>
        </div>

        <div class="row">
            <div style="width: 100%; height: 100%;">
                <canvas id="myChart" style="width: 100%; height: auto;"></canvas>
            </div>
        </div>

        <div class="row">
            <table id="statistic"></table>
        </div>

    </div><!-- /#wrapper -->


    <!-- JavaScript -->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <script>

        $(function () {
            $('#statistic').bootstrapTable({
                url: "http://165.227.141.63:8080/instagram/emailstatistic",
                columns: [{
                    field: 'tag',
                    title: 'Tag'
                }, {
                    field: 'allUsersCount',
                    title: 'Collected accounts'
                }, {
                    field: 'withEmails',
                    title: 'With Emails'
                },]
            });
        });

    </script>
    <script>
        $(function () {
            $.getJSON("http://165.227.141.63:8080/instagram/status/chartOne", function (json) {
                // will generate array with ['Monday', 'Tuesday', 'Wednesday']
                var labels = [];
                var values = [];

                for (var key in json) {
                    if (json.hasOwnProperty(key)) {
                        labels.push(key);
                        values.push(json[key]);
                    }
                }

                var data = {
                    labels: labels,
                    datasets: [
                        {
                            label: "Count of crawled accounts",
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: values
                        }
                    ]
                };

                var ctx = document.getElementById("myChart").getContext("2d");
                ctx.canvas.width = 1000;
                ctx.canvas.height = 300;

                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: data
                });
            });
        });
    </script>

    <script>
        $(function () {
            $.getJSON("http://165.227.141.63:8080/instagram/status", function (json) {
                // will generate array with ['Monday', 'Tuesday', 'Wednesday']
                var labels = [];
                var values1 = [];
                var values2 = [];

                json.map(function (item) {
                    labels.push(item.tags);
                    values1.push(item.postCount);
                    values2.push(item.userCount);
                });

                var data = {
                    labels: labels,
                    datasets: [
                        {
                            label: "Count of crawled posts",
                            fillColor: getRandomColor(),
                            backgroundColor: getRandomColor(),
                            borderColor: getRandomColor(),
                            data: values1
                        },
                        {
                            label: "Count of mined profiles",
                            fillColor: getRandomColor(),
                            backgroundColor: getRandomColor(),
                            borderColor: getRandomColor(),
                            data: values2
                        }
                    ]
                };

                var ctx = document.getElementById("chart2").getContext("2d");
                ctx.canvas.width = 1000;
                ctx.canvas.height = 300;

                var chart2 = new Chart(ctx, {
                    type: 'bar',
                    data: data
                });
            });
        });

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>
</div>

</body>
</html>
