<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard - SB Admin</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <!-- Add custom CSS here -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SB Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li><a th:href="@{/home}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a th:href="@{/managetokens}"><i class="fa fa-bar-chart-o"></i> Tokens </a></li>
                <li class="active"><a th:href="@{/managedroplets}"><i class="fa fa-bar-chart-o"></i> Droplets </a></li>
                <li><a th:href="@{/exports}"><i class="fa fa-table"></i> Export</a></li>
            </ul>
            <form id="logoutForm" th:action="@{/logout}" method="post">
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown">
                        <a class="dropdown-toggle" href="#" onclick="document.getElementById('logoutForm').submit();">
                            <i class="fa fa-sign-out">
                            </i> Logout
                        </a>
                    </li>
                </ul>
            </form>

        </div><!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1>Dashboard  </h1>
                <ol class="breadcrumb">
                    <li class="active"><a href="http://165.227.141.63:8080/instagram/droplet/remove/all" type="button" class="btn pull-right btn-danger"> Terminate all droplets</a></li>
                </ol>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <h2>Bordered with Striped Rows</h2>
            <div class="table-responsive">
                <table id="tokens"></table>
            </div>

        </div><!-- /#page-wrapper -->

        <div class="row">
            <div style="width: 100%; height: 100%;">
                <canvas id="myChart" style="width: 100%; height: auto;"></canvas>
            </div>
        </div>
    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <script>
        $(function () {
            $('#tokens').bootstrapTable({
                url: 'http://165.227.141.63:8080/instagram/droplets',
                columns: [{
                    field: 'id',
                    title: 'Droplet ID'
                }, {
                    field: 'ip',
                    title: 'IP Address'
                }, {
                    field: 'name',
                    title: 'Name'
                },]
            });
        });
    </script>
</div>

</body>
</html>
